<div class="card mb-2 bg-light" >
  <div class="d-flex justify-content-between mb-3">
    <div class="m-5">
      <%= image_tag user.photo, :alt => "user_photo", :height => "150px", :width => "150px" %>
    </div>
    <div class="m-5 flex-grow-1">
      <article class="card-body " style="width: 18rem;"> 
        <h1><a><%= link_to user.name, user %></a>
        </h1>
        </article>
    </div>
    <div class="mb-2 mr-5 d-flex flex-wrap align-content-end">
        <h5>Number of Posts: <%= user.posts_counter %>
        </h5>
      </div>
  </div>
</div>